.guesses {
  margin: 24px 0;
  display: flex;
  justify-content: center;
  max-width: 90%;
}

/* Images should be 88x64, however some legacy images are slightly shorter.
This setup forces those images into an 88x64 aspect ratio to avoid visual discrepancies. */
.item-container {
  width: 88px;
  aspect-ratio: 88 / 64;
  min-width: 0;
  min-height: 0;
  margin: 0 4px;
  overflow: hidden;
  box-shadow: #11151c 1px 1px 3px;
}

.item-container img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
